.searchResults table {
   width: 100%;
    // margin: auto;
    // width: 95%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // border: 1px solid #f2f2f2;
    // border-radius: 5px;
    // margin-top: 40px;
}
.searchResults {
    //width: 100%;
     margin: auto;
     width: 95%;
     margin-top: 40px;
 }
::ng-deep { 
    .searchResults table thead {
    background-color: #0b4f9f;
 }
 .searchResults table thead th {
    color: #fff;
    font-size: 16px;
 }
 .searchResults table tbody td {
     font-size: 16px;
 }
}