<div class="mat-elevation-z8 searchResults">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="voucherid">
        <th mat-header-cell *matHeaderCellDef> Voucher ID </th>
        <td mat-cell *matCellDef="let element"> {{element.voucherid}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="vouchername">
        <th mat-header-cell *matHeaderCellDef> Voucher Name </th>
        <td mat-cell *matCellDef="let element"> {{element.vouchername}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="customerid">
        <th mat-header-cell *matHeaderCellDef> Customer ID </th>
        <td mat-cell *matCellDef="let element"> {{element.customerid}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="articleid">
        <th mat-header-cell *matHeaderCellDef> Article ID </th>
        <td mat-cell *matCellDef="let element"> {{element.articleid}} </td>
      </ng-container>

      <ng-container matColumnDef="typeofvouchers">
        <th mat-header-cell *matHeaderCellDef> Type of Vouchers </th>
        <td mat-cell *matCellDef="let element"> {{element.typeofvouchers}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
      </ng-container>

      <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
        <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>