<mat-card>
  <form [formGroup]="createPromotionForm" id="createPromotionForm" (ngSubmit)="savePromotion()">
    <div class="col-md-12 row promotionPage">
        <mat-card-title><h5>Create New Promotion</h5></mat-card-title>
        <div class="col-md-12 row promotypeSection">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>
                        <span>Promotion Type <span class="validationStar">*</span></span>
                        <span class="material-icons question">help</span>
                    </mat-label>
                    <mat-select class="ptype" [(value)]="promoTypeDrp" (selectionChange)="onChangePromoType($event)">
                        <mat-option *ngFor='let promoType of getPromoTypeValue' [value]="promoType" >{{ promoType }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>
                        <span>Promotion Status <span class="validationStar">*</span></span>
                        <span class="material-icons question">help</span>
                    </mat-label>
                    <mat-select [(value)]="statusDrp">
                        <mat-option *ngFor='let status of getPromoStatusValues' [value]="status">{{ status }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12 row promotionDetails">
                <h6>Promotion Details</h6>
                        <div class="col-md-3" *ngIf="fromEvent">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                        <span>Event Code</span>
                        <!-- <span class="material-icons question">help</span> -->
                    </mat-label>
                    <input matInput class="text" placeholder="Event Code" [(ngModel)] ="eventCode" [ngModelOptions]="{standalone: true}" [disabled]="ifFromEvent">
                </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="fromEvent">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>
                        <span>Event Name</span>
                        <!-- <span class="material-icons question">help</span> -->
                    </mat-label>
                    <input matInput placeholder="Event Name" [(ngModel)] ="eventName" [ngModelOptions]="{standalone: true}" [disabled]="ifFromEvent">
                </mat-form-field>
            </div>
            
            <div class="col-md-12 row">
                 <div class="col-md-3">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                <span>Country <span class="validationStar">*</span></span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <mat-select [(value)]="countryDrp" (selectionChange)="onChangeCountry($event)" [disabled]="ifFromEvent">
                                <mat-option *ngFor='let country of getCountryValues' [value]="country">{{ country.name }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                <span>Redeemed by <span class="validationStar">*</span></span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <mat-select [(value)]="redeemedBy" (selectionChange)="onChangeRedeemedBy($event)" [disabled]="redeem">
                                <mat-option *ngFor='let redeemedby of getRedeemedByValues' [value]="redeemedby">{{ redeemedby }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>   
                 </div>
                
              
                 <div class="col-md-6">
                     <div class="col-md-12 row">
                         <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>
                                    <span>Brand <span class="validationStar">*</span></span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <mat-select [(value)]="brandDrp" (selectionChange)="onChangeBrand($event)" [disabled]="ifFromEvent">
                                    <mat-option *ngFor='let brand of getBrandValues' [value]="brand">{{ brand.name }} </mat-option>
                                </mat-select>
                            </mat-form-field>
                         </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>
                                <!-- <span class="validationStar">*</span> -->
                                <span>Promotion Overview</span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <input matInput placeholder="Promotion Overview" formControlName="promotionOverview">
                            <mat-hint align="end">Promotion Overview text</mat-hint>
                                <mat-error *ngIf="hasError('promotionOverview', 'required')">Promotion overview cannot be empty</mat-error>
                                <mat-error *ngIf="hasError('promotionOverview', 'pattern')">Value should be only characters</mat-error>
                        </mat-form-field>
                    </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>
                                    
                                    <span>Start Date <span class="validationStar">*</span></span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <input matInput [matDatepicker]="picker" [formControl]="startdate" [disabled]="ifFromEvent">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>
                                    <!-- <span class="validError">*</span> -->
                                    <span>End Date</span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <input matInput [matDatepicker]="picker1" [formControl]="enddate" [disabled]="ifFromEvent">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" >
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    <span>Extendable Days</span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <input matInput placeholder="Extendable Days" [(ngModel)] ="extendableDays" [ngModelOptions]="{standalone: true}" [disabled]="ifFromEvent" *ngIf="ifFromEvent">
                                <mat-select [(value)]="extendableDays" *ngIf="!ifFromEvent">
                                    <mat-option *ngFor='let extentDays of getExtendibleValues' [value]="extentDays">{{ extentDays }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    <span>Tolerance Days <span class="validationStar">*</span></span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <input matInput placeholder="Tolerance Days" [(ngModel)] ="toleranceDays" [ngModelOptions]="{standalone: true}" [disabled]="ifFromEvent" *ngIf="ifFromEvent">
                                <mat-select [(value)]="toleranceDays" *ngIf="!ifFromEvent">
                                    <mat-option *ngFor='let tolerantDays of getToleranceValues' [value]="tolerantDays"> {{ tolerantDays }} </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                 </div>
                 
                 <div class="col-md-3">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                <span>Advertising Channel <span class="validationStar">*</span></span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <mat-select [(value)]="adChannelDrp" (selectionChange)="onChangeAdChannel($event)">
                                <mat-option *ngFor='let adchannel of getAdvertisingChannelValues' [value]="adchannel">{{ adchannel }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>
                                <span>Sales Channel <span class="validationStar">*</span></span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <mat-select [(value)]="channelDrp" (selectionChange)="onChangeChannel($event)">
                                <mat-option *ngFor='let channel of channelDrpValues' [value]="channel">{{ channel }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12" *ngIf="selectOnline">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>
                                <span>Online Sales Code</span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <input matInput placeholder="Online Promo Code" formControlName="onlinePromoCode">
                            <mat-hint align="end">Please enter Sales Code</mat-hint>
                                <mat-error *ngIf="hasError('onlinePromoCode', 'required')">Sales code cannot be empty</mat-error>
                                <mat-error *ngIf="hasError('onlinePromoCode', 'pattern')">Value should be alpha numeric</mat-error>
                        </mat-form-field>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-12 row offerDetails">
                <h6>Offer Details</h6>
        
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <!-- <span class="validationStar">*</span> -->
                    <span>Article ID</span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <input matInput placeholder="Article ID" formControlName="articleId">
                <mat-hint align="end">Please enter Aritlce ID</mat-hint>
                                <mat-error *ngIf="hasError('articleId', 'required')">Article ID cannot be empty</mat-error>
                                <mat-error *ngIf="hasError('articleId', 'pattern')">Value should be only numbers</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span>Discount Type <span class="validationStar">*</span></span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <!-- <input matInput placeholder="Discount Type" [(ngModel)] ="discountType" [ngModelOptions]="{standalone: true}"> -->
                <mat-select [(value)]="discountType" *ngIf="!ifFromEvent" (selectionChange)="onDiscountType($event)">
                    <mat-option *ngFor='let discount of getDiscountTypeValues' [value]="discount">{{ discount }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3" >
            <mat-form-field appearance="fill" *ngIf="percentOff">
                <mat-label>
                    <span>Discount Amount <span class="validationStar">*</span></span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <input matInput placeholder="Discount Amount" [(ngModel)] ="discountAmount" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="!percentOff">
                <mat-label>
                    <span>Discount Percentage <span class="validationStar">*</span></span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <input matInput placeholder="Discount Percentage" [(ngModel)] ="discountPercent" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <!-- <span class="validError">*</span> -->
                    <span>Minimum Spend ($)</span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <input matInput placeholder="Online Promo Code" [(ngModel)] ="minimumSpend" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <!-- <span class="validationStar">*</span> -->
                    <span>Coupon Description</span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <textarea matInput placeholder="Please details about the Coupon" formControlName="couponDescription"></textarea>
                <mat-hint align="end">Should have min 15 and max 20 characters</mat-hint>
                <mat-error *ngIf="hasError('couponDescription', 'required')">Coupon Description cannot be empty</mat-error>
                <mat-error *ngIf="hasError('couponDescription', 'minlength')">Minimum 15 characters</mat-error>
                <mat-error *ngIf="hasError('couponDescription', 'maxlength')">Maximum 20 characters</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <!-- <span class="validationStar">*</span> -->
                    <span>Receipt Description</span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <textarea matInput placeholder="Please enter receipt description" formControlName="receiptDescription"></textarea>
                <mat-hint align="end">Should have min 15 and max 20 characters</mat-hint>
                <mat-error *ngIf="hasError('receiptDescription', 'required')">Coupon Description cannot be empty</mat-error>
                <mat-error *ngIf="hasError('receiptDescription', 'minlength')">Minimum 15 characters</mat-error>
                <mat-error *ngIf="hasError('receiptDescription', 'maxlength')">Maximum 20 characters</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <!-- <span class="validationStar">*</span> -->
                    <span>Terms and conditions</span>
                    <!-- <span class="material-icons question">help</span> -->
                </mat-label>
                <textarea matInput placeholder="Please read terms and conditions" formControlName="termsAndConditions"></textarea>
                <mat-hint align="end">Should have min 15 and max 20 characters</mat-hint>
                <mat-error *ngIf="hasError('termsAndConditions', 'required')">Coupon Description cannot be empty</mat-error>
                <mat-error *ngIf="hasError('termsAndConditions', 'minlength')">Minimum 15 characters</mat-error>
                <mat-error *ngIf="hasError('termsAndConditions', 'maxlength')">Maximum 20 characters</mat-error>
            </mat-form-field>
        </div>
        </div>       
    </div>
    <div class="col-md-12 row">
        <div class="col-md-6 promoRegion" *ngIf="selectRegionPOS">
            <h6>Sales Include Locations</h6>
            <div class="row">
            
                    <div class="col-md-12 locations">
            
                        <div class="selectAll">
                            <mat-checkbox [disabled]="allStates">All States</mat-checkbox>
                        </div>
                        <mat-accordion *ngFor='let states of getStatesValues'>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                <mat-checkbox>{{states.name}}</mat-checkbox>
                                </mat-panel-title>
                                <mat-panel-description>
                                  
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                                <div *ngFor="let store of states.stores">
                                    <mat-checkbox>{{store.name}}</mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                          </mat-accordion>
                        
                    </div>
            
                    <div class="col-md-12">
                        <h6>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>
                                    <!-- <span class="validError">*</span> -->
                                    <span>POS Promotion ID</span>
                                    <!-- <span class="material-icons question">help</span> -->
                                </mat-label>
                                <input matInput placeholder="POS Promo Code" formControlName="posPromoCode">
                                <mat-hint align="end">Promotion ID is required to activate promotion</mat-hint>
                                <mat-error *ngIf="hasError('posPromoCode', 'required')">POS promotion ID is required</mat-error>
                                <mat-error *ngIf="hasError('posPromoCode', 'pattern')">Value should be Alphanumeric and 10 characters</mat-error>
                            </mat-form-field>
                        </h6>
                    </div>

            </div>
        </div>
        <div class="col-md-6 adverRegion" *ngIf="selectRegionEcom">
            <h6>Advertising Location</h6>
            <div class="row">
                <div class="col-md-12 locations">
                    <div class="selectAll">
                        <mat-checkbox [disabled]="allStates">All States</mat-checkbox>
                    </div>
                    <mat-accordion *ngFor='let states of getStatesValues'>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                            <mat-checkbox>{{states.name}}</mat-checkbox>
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                            <div *ngFor="let store of states.stores">
                                <mat-checkbox>{{store.name}}</mat-checkbox>
                            </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    
            
                
                </div>
            
                <div class="col-md-12">
                    <h6>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>
                                <!-- <span class="validError">*</span> -->
                                <span>ECOM Promotion ID</span>
                                <!-- <span class="material-icons question">help</span> -->
                            </mat-label>
                            <input matInput placeholder="Ecom Promo Code" formControlName="ecomPromoCode">
                            <mat-hint align="end">Promotion ID is required to activate promotion</mat-hint>
                                <mat-error *ngIf="hasError('ecomPromoCode', 'required')">ECOM promotion ID is required</mat-error>
                                <mat-error *ngIf="hasError('ecomPromoCode', 'pattern')">Value should be Alphanumeric and 10 characters</mat-error>
                        </mat-form-field>
                    </h6>
                </div>
        </div>

        </div>
    </div>
    <mat-card-actions>
        <!-- <button mat-stroked-button class="resetButton">Reset</button> -->
        <button mat-flat-button color="primary" class="applyButton" type="submit">Save Promotion</button>
        <!-- <button mat-flat-button color="primary" class="applyButton">Activate Promotion</button> -->
        <!-- <button mat-flat-button color="primary" class="applyButton">Create New Voucher</button> -->
    </mat-card-actions>
</form>
</mat-card>
