<mat-card>
    <div class="col-md-12 row">
        <mat-card-title><h5>Create Voucher</h5></mat-card-title>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label><span class="validError">*</span>
                    <span>Brand</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">SRG</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <div class="matRadioGroup">
                <div class="radioLabel"><span class="validError">*</span>Type of Voucher</div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Personalized</mat-radio-button>
                    <mat-radio-button value="2">Non Personalized</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-md-3">
            <div class="matRadioGroup">
                <div class="radioLabel">
                    <span class="validError">*</span>
                    <span>Voucher Type</span>
                    <span class="material-icons question">help</span>
                </div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Single</mat-radio-button>
                    <mat-radio-button value="2">Multiple</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><span class="validError">*</span>No of Vouchers</mat-label>
                <input matInput placeholder="No of Vouchers" value="No of Vouchers">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><span class="validError">*</span>Offer Name</mat-label>
                <input matInput placeholder="Offer Name" value="New Year">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Promo Code</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Promo Code" value="23334">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Method</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Gift Card</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Voucher Name</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Voucher Name" value="New Year">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Start Date</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="startdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Expiry Date</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="enddate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Max no of times to use</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Max no of times to use" value="2">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Minimum amount in cart</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Minimum amount in cart" value="12">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Unit of Discount</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Percentage</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><span class="validError">*</span>Discount Value</mat-label>
                <input matInput placeholder="Discount Value" value="40%">
            </mat-form-field>
        </div>
    </div>
    <mat-card-actions>
        <button mat-stroked-button class="resetButton">Reset</button>
        <button mat-flat-button color="primary" class="applyButton">Create</button>
    </mat-card-actions>
</mat-card>