<div class="headerBg row">
    <div class="col-md-1">
        <a href="#">
            <img src='../../../assets/images/srg-logo.jpg'>
        </a>
    </div>
    <div class="col-md-11 row">
        <div class="col-md-6">
            <h4>Voucher Management System</h4>
        </div>
        <div class="col-md-6 signIn">
            <h6>Jon <i class="bi bi-person-circle"></i><i class="bi bi-chevron-down"></i></h6>
        </div>
    </div>
</div>
