.headerBg {
    background-color: #0950a1;
}
.headerBg .col-md-11 h4 {
    color: #fff;
    padding: 13px 10px 5px;
    margin-bottom: 0px;
    font-size:18px;
}
.signIn {
    padding-top: 13px;
    text-align: right;
    color: #fff;
}
.bi.bi-person-circle, .bi.bi-chevron-down {
    margin-left: 10px;
}
.bi.bi-chevron-down {
    font-size: 14px;
}