<ul class="leftNavigation">
    <li><a class="button" routerLink="/home"><img src="../../../assets/images/home-icon-active.jpg"></a>
    <li><a class="button" routerLink="/createvoucher"><img src="../../../assets/images/create-icon-inactive.jpg"></a>
    <li><a href="#"><img src="../../../assets/images/manage-icon-inactive.jpg"></a>
    <li><a href="#"><img src="../../../assets/images/report-icon-active.jpg"></a>
</ul>
