.leftNavigation {
    width: 100%;
    padding-left: 5px;
    margin-left: 0px;
    padding-right: 5px;
}
.leftNavigation li {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 15px 0px;
    border-bottom: 1px solid #7f94ae;
}