<mat-card>
          <mat-card-title><h5>Confirmation</h5></mat-card-title>
          <p>A New Promotion with Promotion ID: ABC00001 has been created successfully</p>
          <mat-card-actions>
            <!-- <button mat-stroked-button class="resetButton">Reset</button> -->
            <button mat-flat-button color="primary" class="applyButton" (click)="backToPromotion()">Back to Create Promotion</button>
            <button mat-flat-button color="primary" class="applyButton" (click)="searchPromotion()">Search Promotion</button>
            <button mat-flat-button color="primary" class="applyButton" (click)="home()">Home</button>
        </mat-card-actions>
</mat-card>
