<div class="row justify-content-center my-5">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h5 class="loginDetails">Login</h5>
            <div class="col mb-2">
              <!-- <label for="email" class="form-label">User Name:</label> -->
              <!-- <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm"> -->
              <!-- <input matInput placeholder="Please enter your Email Address" type="email" id="email" name="email" #email="ngModel" [(ngModel)] ="user.email" [ngModelOptions]="{standalone: true}"> -->
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span>User Name:</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="E-Mail" type="email" id="email" name="email" #email="ngModel" [(ngModel)] ="user.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <!-- <label for="password" class="form-label">Password:</label>
              <div class="input-group input-group-sm">
                <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                  <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
                </button>
              </div> -->
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span>Password:</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password"  [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            </div>
          </div>
          <div class="row signInAction">
            <div class="col">
              <button type="button" (click)="signIn()" class="btn btn-sm btn-success" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>