.demo-table {
    width: 450%;
    text-align: left;
  }

  .cdk-column-termsandconditions {
      width: 5%;
  }

  .cdk-column-termsandconditions div {
    overflow-x: auto;
    height: 40px;
  }

//   .cdk-column-termsandconditions div:hover {
//     white-space: nowrap;
//     overflow: visible;
//   }