<!-- <div class="advanceSearchSection"> -->
    <mat-card>
        <div class="col-md-12 row">
            <mat-card-title><h5>Search Promotions</h5></mat-card-title>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Brand</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let brand of brandDrpValues' [value]="brand">{{ brand }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Promotion Type</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let event of filteredPromoTypes' [value]="event">{{ event }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Promotion Name</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let eventName of eventNameDrpValues' [value]="eventName">{{ eventName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-card-actions>
            <button mat-stroked-button class="resetButton">Reset</button>
            <!-- <button mat-flat-button color="primary" class="applyButton" routerLink="/createpromotion" [disabled] = "disablePromo">Create New Promotion</button> -->
            <button mat-flat-button color="primary" class="applyButton" routerLink="/srgevents">Create New Event</button>
        </mat-card-actions>
        <div class="table-responsive" *ngIf="tableShow">
            <h5 class="promotionsList">List of Promotions</h5>
            <table mat-table [dataSource]="filteredPromotions" class="mat-elevation-z8 demo-table">
                
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Promotion Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotionType}} </td>
                </ng-container>
              
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Promotion ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotionID}} </td>
                </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Promotion Status </th>
                  <td mat-cell *matCellDef="let element"> {{ element.promotionStatus }} </td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef> Brand </th>
                    <td mat-cell *matCellDef="let element"> {{ element.brand }} </td>
                  </ng-container>
              
                <ng-container matColumnDef="overview">
                  <th mat-header-cell *matHeaderCellDef> Promotion Overview </th>
                  <td mat-cell *matCellDef="let element"> {{element.promotionOverview}} </td>
                </ng-container>
        
                <ng-container matColumnDef="channel">
                    <th mat-header-cell *matHeaderCellDef> Advertising Channel </th>
                    <td mat-cell *matCellDef="let element"> {{element.advertisingChannel}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="redeemed">
                    <th mat-header-cell *matHeaderCellDef> Redeemed By </th>
                    <td mat-cell *matCellDef="let element"> {{element.redeemedBy}} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="startdate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.startDate }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="enddate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="promochannel">
                    <th mat-header-cell *matHeaderCellDef> Promotion Channel </th>
                    <td mat-cell *matCellDef="let element"> {{ element.promotionChannel }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="articleid">
                    <th mat-header-cell *matHeaderCellDef> Article ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.articleId }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="discounttype">
                    <th mat-header-cell *matHeaderCellDef> Discount Type </th>
                    <td mat-cell *matCellDef="let element"> {{ element.discountType }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="discountamount">
                    <th mat-header-cell *matHeaderCellDef> Discount Amount </th>
                    <td mat-cell *matCellDef="let element"> {{ element.discountAmount }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="minimumspend">
                    <th mat-header-cell *matHeaderCellDef> Minimum Spend </th>
                    <td mat-cell *matCellDef="let element"> {{element.minimumSpend}} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="coupondescription">
                    <th mat-header-cell *matHeaderCellDef> Coupon Description </th>
                    <td mat-cell *matCellDef="let element"> {{ element.couponDescription }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="receiptdescription">
                    <th mat-header-cell *matHeaderCellDef> Receipt Description </th>
                    <td mat-cell *matCellDef="let element"> {{ element.receiptDescription }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="termsandconditions">
                    <th mat-header-cell *matHeaderCellDef> Terms and Conditions </th>
                    <td mat-cell *matCellDef="let element"> <div> {{ element.termsandconditions }} </div></td>
                  </ng-container>
        
                  <ng-container matColumnDef="promotionregionlevel">
                    <th mat-header-cell *matHeaderCellDef> Promotion Location Level </th>
                    <td mat-cell *matCellDef="let element"> {{ element.promotionLocationLevel }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="promotionregioncountry">
                    <th mat-header-cell *matHeaderCellDef> Promotion Country </th>
                    <td mat-cell *matCellDef="let element"> {{ element.promotionLocationCountry }} </td>
                  </ng-container>

                  <ng-container matColumnDef="promotionregionorstate">
                    <th mat-header-cell *matHeaderCellDef> Promotion State </th>
                    <td mat-cell *matCellDef="let element"> {{ element.promotionLocationState }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="promotionregionstoreid">
                    <th mat-header-cell *matHeaderCellDef> Promotion Store(s) </th>
                    <td mat-cell *matCellDef="let element"> {{ element.promotionLocationStore }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="pospromotionid">
                    <th mat-header-cell *matHeaderCellDef> POS Promotion ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.posPromoCode }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="advertisingregionlevel">
                    <th mat-header-cell *matHeaderCellDef> Advertising Location Level</th>
                    <td mat-cell *matCellDef="let element"> {{ element.advertisingLocationLevel }} </td>
                  </ng-container>

                  <ng-container matColumnDef="advertisingregioncountry">
                    <th mat-header-cell *matHeaderCellDef> Adertising Country </th>
                    <td mat-cell *matCellDef="let element"> {{ element.advertisingLocationCountry }} </td>
                  </ng-container>

                  <ng-container matColumnDef="advertisingregionorstate">
                    <th mat-header-cell *matHeaderCellDef> Advertising State </th>
                    <td mat-cell *matCellDef="let element"> {{ element.advertisingLocationState }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="advertisingregionstoreid">
                    <th mat-header-cell *matHeaderCellDef> Advertising Store(s) </th>
                    <td mat-cell *matCellDef="let element"> {{ element.advertisingLocationStore }} </td>
                  </ng-container>
        
                  <ng-container matColumnDef="advertisingpromotionid">
                    <th mat-header-cell *matHeaderCellDef> ECOM Promotion ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.ecomPromoCode }} </td>
                  </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="promodetails(row._id)"></tr>
              </table>
              </div>
    <!-- </div> -->
    </mat-card>