.promotioneventdetails .col-md-2 {
    font-size:14px;
    text-align: left;
}

.promotioneventdetails .col-md-2 div:first-child {
    font-weight: 600;
}

.demo-table {
    width: 277%;
  }

  .mat-column {
      width: 100px;
  }

.mat-cell {
    text-align: left !important;
}
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }