<mat-card class="promotioneventdetails">
    <div class="col-md-12 row">
        <mat-card-title><h5>Promotion Event Details</h5></mat-card-title>
       
        <div class="col-md-2">
            <div>Brand</div>
            <div>Spotlight-AU</div>
        </div>
        <div class="col-md-2">
            <div>Event Code</div>
            <div>E10</div>
        </div>
        <div class="col-md-2">
            <div>Event ID</div>
            <div>123456</div>
        </div>
        <div class="col-md-2">
            <div>Start Date</div>
            <div>11-04-2022</div>
        </div>
        <div class="col-md-2">
            <div>End Date</div>
            <div>30-04-2022</div>
        </div>
    </div>

    <div class="table-responsive">
        <h5 class="promotionsList">List of Promotions</h5>
        <table mat-table [dataSource]="promotions" class="mat-elevation-z8 demo-table">
            
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Promotion Type </th>
              <td mat-cell *matCellDef="let element"> {{element.promotionType}} </td>
            </ng-container>
          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Promotion ID </th>
              <td mat-cell *matCellDef="let element"> {{element.promotionID}} </td>
            </ng-container>
          
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Promotion Status </th>
              <td mat-cell *matCellDef="let element"> {{element.promotionStatus}} </td>
            </ng-container>
          
            <ng-container matColumnDef="overview">
              <th mat-header-cell *matHeaderCellDef> Promotion Overview </th>
              <td mat-cell *matCellDef="let element"> {{element.promotionOverview}} </td>
            </ng-container>
    
            <ng-container matColumnDef="channel">
                <th mat-header-cell *matHeaderCellDef> Advertising Channel </th>
                <td mat-cell *matCellDef="let element"> {{element.advertisingChannel}} </td>
              </ng-container>
          
              <ng-container matColumnDef="redeemed">
                <th mat-header-cell *matHeaderCellDef> Redeemed By </th>
                <td mat-cell *matCellDef="let element"> {{element.redeemedby}} </td>
              </ng-container>
    
              <ng-container matColumnDef="startdate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.startDate }} </td>
              </ng-container>
    
              <ng-container matColumnDef="enddate">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
              </ng-container>
    
              <ng-container matColumnDef="promochannel">
                <th mat-header-cell *matHeaderCellDef> Promotion Channel </th>
                <td mat-cell *matCellDef="let element"> {{ element.promotionalChannel }} </td>
              </ng-container>
    
              <ng-container matColumnDef="articleid">
                <th mat-header-cell *matHeaderCellDef> Article ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.articleID }} </td>
              </ng-container>
    
              <ng-container matColumnDef="discounttype">
                <th mat-header-cell *matHeaderCellDef> Discount Type </th>
                <td mat-cell *matCellDef="let element"> {{ element.discountType }} </td>
              </ng-container>
    
              <ng-container matColumnDef="discountamount">
                <th mat-header-cell *matHeaderCellDef> Discount Amount </th>
                <td mat-cell *matCellDef="let element"> {{ element.discountAmount }} </td>
              </ng-container>
    
              <ng-container matColumnDef="minimumspend">
                <th mat-header-cell *matHeaderCellDef> Minimum Spend </th>
                <td mat-cell *matCellDef="let element"> {{element.minimumSpend}} </td>
              </ng-container>
    
              <ng-container matColumnDef="coupondescription">
                <th mat-header-cell *matHeaderCellDef> Coupon Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.couponDescription }} </td>
              </ng-container>
    
              <ng-container matColumnDef="receiptdescription">
                <th mat-header-cell *matHeaderCellDef> Receipt Description </th>
                <td mat-cell *matCellDef="let element"> {{ element.receiptDescription }} </td>
              </ng-container>
    
              <ng-container matColumnDef="termsandconditions">
                <th mat-header-cell *matHeaderCellDef> Terms and Conditions </th>
                <td mat-cell *matCellDef="let element"> {{ element.termsandconditions }} </td>
              </ng-container>
    
              <ng-container matColumnDef="promotionregionlevel">
                <th mat-header-cell *matHeaderCellDef> Promotion Location </th>
                <td mat-cell *matCellDef="let element"> {{ element.promoRegionLevel }} </td>
              </ng-container>
    
              <ng-container matColumnDef="promotionregionorstate">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{ element.promoregionorstate }} </td>
              </ng-container>
    
              <ng-container matColumnDef="promotionregionstoreid">
                <th mat-header-cell *matHeaderCellDef> Store(s) </th>
                <td mat-cell *matCellDef="let element"> {{ element.promoregionstoreid }} </td>
              </ng-container>
    
              <ng-container matColumnDef="pospromotionid">
                <th mat-header-cell *matHeaderCellDef> POS Promotion ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.pospromotionId }} </td>
              </ng-container>
    
              <ng-container matColumnDef="advertisingregionlevel">
                <th mat-header-cell *matHeaderCellDef> Advertising Location </th>
                <td mat-cell *matCellDef="let element"> {{ element.advertisingregionLevel }} </td>
              </ng-container>
    
              <ng-container matColumnDef="advertisingregionorstate">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{ element.advertisingregionorstate }} </td>
              </ng-container>
    
              <ng-container matColumnDef="advertisingregionstoreid">
                <th mat-header-cell *matHeaderCellDef> Store(s) </th>
                <td mat-cell *matCellDef="let element"> {{ element.advertisingregionstoreid }} </td>
              </ng-container>
    
              <ng-container matColumnDef="advertisingpromotionid">
                <th mat-header-cell *matHeaderCellDef> ECOM Promotion ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.advertisingpromotionId }} </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="promodetails()"></tr>
          </table>
          </div>
    
    <!-- <div class="table-responsive">
    <h5 class="promotionsList">List of Promotions</h5>
    <table class="table table-hover promotionsColumn">
        <thead>
          <tr class="d-flex">
            <th scope="col-2">Promotion Type</th>
            <th scope="col-2">Promotion ID</th>
            <th scope="col-2">Promotion Status</th>
            <th scope="col-2">Promotion Overview</th>
            <th scope="col-2">Advertising Channel</th>
            <th scope="col-2">Redeemed By</th>
            <th scope="col-2">Start Date</th>
            <th scope="col-2">End Date</th>
            <th scope="col-2">Promotion Channel</th>
            <th scope="col-2">Article ID</th>
            <th scope="col-2">Discount Type</th>
            <th scope="col-2">Discount Amount</th>
            <th scope="col-2">Minimum Spend</th>
            <th scope="col-2">Coupon Description</th>
            <th scope="col-2">Receipt Description</th>
            <th scope="col-2">Terms and Conditions</th>
            <th scope="col-2">Promotion Region Level</th>
            <th scope="col-2">Promotion Region/State</th>
            <th scope="col-2">Store ID</th>
            <th scope="col-2">POS Promotion ID </th>
            <th scope="col-2">Advertising Region Level</th>
            <th scope="col-2">Advertising Region/State</th>
            <th scope="col-2">ECOM Promotion ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promotion of promotions" class="d-flex">
            <th scope="row">{{ promotion.promotionType }}</th>
            <td scope="col-2">{{ promotion.promotionID }}</td>
            <td scope="col-2">{{ promotion.promotionStatus }}</td>
            <td scope="col-2"> {{ promotion.promotionOverview }} </td>
            <td scope="col-2"> {{ promotion.advertisingChannel }} </td>
            <td scope="col-2"> {{ promotion.redeemedby }} </td>
            <td scope="col-2"> {{ promotion.startDate }} </td>
            <td scope="col-2"> {{ promotion.endDate }} </td>
            <td scope="col-2"> {{ promotion.promotionalChannel }} </td>
            <td scope="col-2"> {{ promotion.articleID }} </td>
            <td scope="col-2"> {{ promotion.discountType }} </td>
            <td scope="col-2"> {{ promotion.discountAmount }} </td>
            <td scope="col-2"> {{ promotion.minimumSpend }} </td>
            <td scope="col-2"> {{ promotion.couponDescription }} </td>
            <td scope="col-2"> {{ promotion.receiptDescription }} </td>
            <td scope="col-2"> {{ promotion.termsandconditions }} </td>
            <td scope="col-2"> {{ promotion.promoregionLevel }} </td>
            <td scope="col-2"> {{ promotion.promoregionorstate }} </td>
            <td scope="col-2"> {{ promotion.promoregionstoreid }} </td>
            <td scope="col-2"> {{ promotion.pospromotionId }} </td>
            <td scope="col-2"> {{ promotion.advertisingregionLevel }} </td>
            <td scope="col-2"> {{ promotion.advertisingregionorstate }} </td>
            <td scope="col-2"> {{ promotion.advertisingpromotionId }} </td>
          </tr>
        </tbody>
      </table>
      </div> -->
      <mat-card-actions>
        <button mat-flat-button color="primary" class="applyButton" (click)="addNewPromo()">Create New Promotion</button>
    </mat-card-actions>

</mat-card>

<ng-template [ngIf]="newPromo">
    <app-srgpromotion></app-srgpromotion>
</ng-template>