<!-- <div class="advanceSearchSection"> -->
    <mat-card>
        <div class="col-md-12 row">
            <mat-card-title><h5>Search An Event</h5></mat-card-title>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Brand</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let brand of brandDrpValues' [value]="brand">{{ brand }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Event Code</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let event of filteredEvents' [value]="event">{{ event }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 eventsearch">
                <mat-form-field appearance="fill">
                    <mat-label>Event Name</mat-label>
                    <mat-select [(ngModel)]="eventsDrp" (selectionChange)="onChangeEventID($event)">
                        <mat-option *ngFor='let eventName of eventNameDrpValues' [value]="eventName">{{ eventName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Event Name</mat-label>
                    <mat-select [(value)]="selected">
                    <mat-option value="select">Select</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            
        </div>
        <mat-card-actions>
            <button mat-stroked-button class="resetButton">Reset</button>
            <!-- <button mat-flat-button color="primary" class="applyButton" routerLink="/createpromotion" [disabled] = "disablePromo">Create New Promotion</button> -->
            <button mat-flat-button color="primary" class="applyButton" routerLink="/srgevents">Create New Event</button>
        </mat-card-actions>
        <table class="table table-hover" *ngIf="tableShow">
            <thead>
              <tr>
                <th scope="col">Event ID</th>
                <th scope="col">Event Code</th>
                <th scope="col">Brand</th>
                <th scope="col">Promotion ID</th>
                <th scope="col">Promotion Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of eventss" (click)="navigateTo()">
                <th scope="row">{{ event.eventid }}</th>
                <td>{{ event.eventName }}</td>
                <td>{{ event.brand }}</td>
                <td> {{ event.promoId }} </td>
                <td> {{ event.promoName }} </td>
                <td> {{ event.startDate }} </td>
                <td> {{ event.endDate }} </td>
              </tr>
            </tbody>
          </table>
    <!-- </div> -->
    </mat-card>