<div class="col-md-12 row">
    <div style="display:block" class="col-md-6">
        <canvas 
        style="display: block;background-color: #fff;" 
        height="300" 
        id="canvas" 
        #myCanvas
        baseChart
        [type]="barChartType"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        >

        </canvas>
    </div>
    <div style="display:block" class="col-md-6">
        <canvas 
        style="display: block;background-color: #fff;" 
        height="100" 
        id="canvas" 
        #myCanvas
        baseChart
        [type]="doughChartType"
        [data]="doughChart"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        >

        </canvas>
    </div>
</div>
