<!-- <div class="advanceSearchSection"> -->
<mat-card>
    <div class="col-md-12 row">
        <div><span class="material-icons pointerUp">arrow_drop_up</span></div>
        <div><a routerLink="/home"><span class="material-icons closeIcon">close</span></a></div>
        <mat-card-title><h5>Advanced Search</h5></mat-card-title>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Voucher ID</mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Select</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Brand</mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Select</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="startdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="enddate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Type of Voucher</mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Select</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Customer ID</mat-label>
                <input matInput placeholder="Enter Customer ID" value="V0001">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select [(value)]="selected">
                <mat-option value="select">Select</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Article ID</mat-label>
                <input matInput placeholder="Enter Customer ID" value="V0001">
            </mat-form-field>
        </div>
    </div>
    <mat-card-actions>
        <button mat-stroked-button class="resetButton">Reset</button>
        <button mat-flat-button color="primary" class="applyButton">Apply</button>
    </mat-card-actions>
<!-- </div> -->
</mat-card>