::ng-deep {
    // .mat-form-field-label-wrapper {
    //     top: -20px;
    // }
    // .mat-form-field-label {
    //     font-size: 20px;
    //     font-weight: bold;
    //     color: rgba(0, 0, 0, 1);
    // }
    // .mat-form-field-type-mat-native-select .mat-input-element {
    //     color: #ccc;
    //     font-size: 20px !important;
    // }
    // .mat-form-field-appearance-fill .mat-form-field-underline::before {
    //     height: 2px;
    // }
    // .mat-form-field-type-mat-native-select .mat-input-element option {
    //     padding: 5px;
    // }
    // .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    //     font-size: 14px !important;
    // }
    // .mat-select-min-line, .mat-datepicker-input, .mat-input-element {
    //     font-size: 14px;
    //     color: #ccc;
    // }
    // mat-card {
    //     margin: auto;
    //     width: 95%;
    //   //  min-height: 480px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     text-align: center;
    //     border: 1px solid #f2f2f2;
    //     border-radius: 5px;
    //     margin-top: 40px;
    // }
    // .mat-card h5 {
    //     text-align: left;
    //     margin: 40px 0px;
    // }
    // .mat-card-actions .resetButton {
    //     margin-right: 20px;
    // }
    // .mat-card-actions .applyButton {
    //     margin-left: 20px;
    //     background: #022452;
    // }
    // .mat-card>.mat-card-actions:last-child {
    //     margin: 30px 0px !important;
    // }
    // .mat-card-actions button {
    //     padding: 3px 30px;
    // }
    // .mat-form-field-suffix {
    //     right: -10px;
    // }
    // .mat-form-field.mat-focused .mat-form-field-label {
    //     color: #000;
    // }
    // .mat-form-field.mat-focused .mat-form-field-ripple {
    //     background-color: #022452;
    // }
    // .mat-form-field-hide-placeholder .mat-form-field-label {
    //     transform: translateY(-0.59375em) scale(0.75);
    // }
}
.closeIcon {
    position: absolute;
    right: 10px;
    top: 7px;
    font-weight: bold;
    color: #022452;
}
.pointerUp {
    position: absolute;
    top: -33px;
    font-size: 55px;
    right: 44px;
    color: #ccc;
}