.homepageSection {
    margin: auto;
    width: 94%;
    min-height: 300px;
   // display: inline-block;
    //justify-content: center;
    align-items: center;
    // text-align: center;
}
.homepageContent .col-md-4 img {
  width: 100%;
}

.homepageContent {
    margin-top:40px;
}

.searchEvent {
    background: #f9d8ef;
    padding: 40px 0px;
    border-radius: 5px;
    max-width:30%;
    text-align: center;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
}

.searchEvent img {
    width:30px !important;
}

.homepageContent .createEvent {
    background: #ddd8f9;
}

.homepageContent .createPromotion {
    background: #d8f9f6;
    margin-top:5px;
}

.homepageContent .searchPromotion {
    background: #d9f7c6;
    margin-top:5px;
}

.promo {
    margin-top:20px;
}