<div class="homepageSection">
    <div class="row homepageContent">
        <h5>Events</h5>
        <span class="material-icons"></span>
        <button class="col-md-4 searchEvent" (click)="searchEvent()">
           <div> <img src="../../../assets/images/search.png"></div>Search An Event
        </button>
        <button class="col-md-4 searchEvent createEvent" (click)="createEvent()">
            <div> <img src="../../../assets/images/event.png"></div> Create An Event
        </button>
        <div class="col-md-4"></div>
        <h5 class="promo">Promotions</h5>
        <button class="col-md-4 searchEvent searchPromotion" (click)="createPromotion()">
            <div> <img src="../../../assets/images/search.png"></div>Search Promotion
        </button>
        <button class="col-md-4 searchEvent createPromotion" (click)="createPromotion()">
            <div> <img src="../../../assets/images/promotion1.png"></div>Create Promotion
        </button>
       
        <!-- <button class="col-md-4 searchEvent createPromotion" (click)="createPromotion()">
            Create a Voucher
        </button> -->
        <!-- <div class="col-md-4">
            <a class="button" routerLink="/createvoucher"><img src="../../../assets/images/createVoucher.jpg"></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="../../../assets/images/manageVoucher.jpg"></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="../../../assets/images/reports.jpg"></a>
        </div> -->
    </div>
</div>

