<mat-card>
    <div class="col-md-12 row">
        <mat-card-title><h5>Create An Event</h5></mat-card-title>
        <!-- <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label><span class="validError">*</span>
                    <span>Brand</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="selectedDrp">
                <mat-option value="srg">SRG</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label><span class="validError">*</span>
                    <span>Country</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="countryDrp">
                <mat-option value="australia">Australia</mat-option>
                <mat-option value="option1">New Zealand</mat-option>
                <mat-option value="option2">Malaysia</mat-option>
                <mat-option value="option3">Singapore</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label><span class="validError">*</span>
                    <span>Brand</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <mat-select [(value)]="brandDrp" (selectionChange)="onChangeBrand($event)">
                    <mat-option *ngFor='let brand of brandDrpValues' [value]="brand">{{ brand }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Event Code</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Promo Code" value="E10" [(ngModel)]= "eventCodeValue" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Event Name</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput placeholder="Name of the Event" [(ngModel)]= "eventNameValue" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Extendable days</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <!-- <input matInput placeholder="Extendable Days" [(ngModel)]= "eventExtendableValue" [ngModelOptions]="{standalone: true}"> -->
                <mat-select [(value)]="eventExtendableValue" (selectionChange)="onChangeBrand($event)">
                    <mat-option *ngFor='let extentDays of extentDaysValue' [value]="extentDays">{{ extentDays }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Tolerance days</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <!-- <input matInput placeholder="Tolerance Days" [(ngModel)]= "eventToleranceValue" [ngModelOptions]="{standalone: true}"> -->
                <mat-select [(value)]="eventToleranceValue" (selectionChange)="onChangeBrand($event)">
                    <mat-option *ngFor='let tolerantDays of tolerantDaysValue' [value]="tolerantDays">{{ tolerantDays }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>Start Date</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="startdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>
                    <span class="validError">*</span>
                    <span>End Date</span>
                    <span class="material-icons question">help</span>
                </mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="enddate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        
    </div>
    <mat-card-actions>
        <button mat-stroked-button class="resetButton">Reset</button>
        <button mat-flat-button color="primary" class="applyButton" (click)="onSaveEvent()">Save An Event</button>
        <!-- <button mat-flat-button color="primary" class="applyButton">Add Promotions</button> -->
        <button mat-flat-button color="primary" class="applyButton" (click)="addNewPromo()" [disabled]="saveEvent">Add New Promotion</button>
    </mat-card-actions>

</mat-card>
<ng-template [ngIf]="newPromo">
    <app-srgpromotion 
    [fromEvent]="promoFromEvent" 
    [brand]="brandFromEvent" 
    [eventCodeFromEvent]="eventCodeFromEvent"
    [eventNameFromEvent]="eventNameFromEvent"
    [eventExtendableFromEvent]="eventExtendableFromEvent"
    [eventToleranceFromEvent]= "eventToleranceFromEvent"
    [eventStartDateFromEvent]="eventStartDateFromEvent"
    [eventEndDateFromEvent]="eventEndDateFromEvent"
    ></app-srgpromotion>
</ng-template>
<ng-template #callAPIDialog>
    <h2 matDialogTitle>Do you like to save the Event?</h2>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose="no"(click)="eventNo()">No</button>
        <button mat-button matDialogClose="yes" (click)="eventYes()">Yes</button>
    </mat-dialog-actions>
</ng-template>